<div id="panel">
    <div id="information" class="ui-g-6">
        <div class="ui-g-6 card header" id="carsAvailable">
            <img src = "assets/images/general/traffic-jam.png" alt="Cars" />
            <div class=" ui-g-6 text">
            <h1>89</h1>
            <p>Cars Available</p>
            </div>
        </div>
        <div class="ui-g-6 card header" id="carsRented">
            <img src = "assets/images/general/access.png" alt="Cars" />
            <div class=" ui-g-6 text">
            <h1>123</h1>
            <p>Cars Rented</p>
            </div>
        </div>
        <div id="userActive" class="card header ui-g-6">
            <img src = "assets/images/general/driver.png" alt="Cars" class="ui-g-6" />
            <div class=" ui-g-6 text">
            <h1>234</h1>
            <p>Users Active</p>
            </div>
        </div>
        <div id="bookings" class="card header ui-g-6">
            <img src = "assets/images/general/plan.png" alt="Cars" class="ui-g-6" />
            <div class="ui-g-6 text">
            <h1>132</h1>
            <p>New Bookings</p>
            </div>
        </div>
    </div>
<div class="ui-g-6">
<full-calendar deepChangeDetection="true"  [header]="{
    left: 'prev,next',
    center: 'title',
    right: 'today'
  }" [events]="events"  [plugins]="calendarPlugins"></full-calendar>
</div>
<div id="dataview" class="ui-g-12">
    <p-table #dt [columns]="cols" [value]="bookings" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div style="text-align: left;">
                <i class="fa fa-car" style="margin-left: 2px;"></i>
                List of Reservations
            </div>
            <div style="text-align: right">        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'user'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <div *ngSwitchCase="'startDate'">
                        Later than
                        <p-calendar placeholder = "Pick a date" [style]="{'width':'350px','margin-top':'8px'}" [(ngModel)]="date" (click)="filterBookings($event)" showButtonBar="true"></p-calendar>
                    </div>
                    <div *ngSwitchCase="'endDate'">
                        Earlier than
                        <p-calendar placeholder = "Pick a date" [style]="{'width':'350px','margin-top':'8px'}" [(ngModel)]="endDate" (click)="filterBookings($event)" showButtonBar="true"></p-calendar>
                    </div>
                    <p-dropdown *ngSwitchCase="'type'" [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                    <p-multiSelect *ngSwitchCase="'diesel'" [options]="colors" defaultLabel="All Fuels" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <input *ngSwitchCase="'price'"  pKeyFilter="int" pInputText type="text" placeholder="Greater Than" (input)="filterBookingsByPrice($event)">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                   <p *ngIf="col.field !== 'startDate' && col.field !== 'endDate'"> {{rowData[col.field]}}</p>
                   <p *ngIf="col.field === 'startDate' || col.field === 'endDate'">{{rowData[col.field] | date: 'medium'}}</p>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>
