.calendar {
    float: right;
    width: 40%;
    height: 35%;
}

#infomation {
    float: left;
}

#carsAvailable, #carsRented, #userActive, #bookings{
    margin-top: 10px;
}


#carsAvailable {
    background-color:  rgb(114, 255, 101);
    float: left;
}

#carsRented {
    background-color: rgb(253, 97, 118);
    float: right;
}

#userActive {
    background-color: #fff132;
}

#userActive img {
    width: 64px;
}

#bookings {
    background-color: beige;
    float: right;
}

#bookings img {
    width: 64px;
}

#carsRented img {
    width: 64px;
}

#carsAvailable img {
    width: 64px;
}

.text {
    float: right;
}

#welcome{
    background-color:  rgb(255, 146, 110);
    color: white;
    text-align: center;
    font-weight: 700;
}