<div id="panel">
    <div id="information" class="ui-g-6">
        <p>All you need is a convenient and easy to work with free Car Rental website template and your automotive project sees light soon after. If you are in the transportation business, you could not be at a better place.
            Modern and sophisticated are two of the main characteristics of Car Rental template. It is pretty self-explanatory, but you can also use the product for taxi businesses and other vehicle booking services.
            Modern and sophisticated are two of the main characteristics of Car Rental template. It is pretty self-explanatory, but you can also use the product for taxi businesses and other vehicle booking services.
            
            The well-formed template has a flexible layout with a spiffy booking form. Users can go straight to renting a car from you or further investigate your website. Whoever is new, give them a chance to learn more about your services and the whips you offer. It will be impossible for them to resist and rent from you straight away.</p>
    </div>
<div class="ui-g-6">
<full-calendar deepChangeDetection="true"  [header]="{
    left: 'prev,next',
    center: 'title',
    right: 'today'
  }" editable="true" [events]="events"  [plugins]="calendarPlugins"></full-calendar>
</div>
<div id="dataview" class="ui-g-12">
    <p-table #dt [columns]="cols" [value]="cars" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'plate'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <div *ngSwitchCase="'year'">
                        Value > {{yearFilter}}
                        <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="yearFilter"></i>
                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
                    </div>
                    <p-dropdown *ngSwitchCase="'type'" [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                    <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <input *ngSwitchCase="'price'" pInputText type="text" placeholder="Custom - Greater Than" (input)="dt.filter($event.target.value, col.field, 'custom')">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>
