<ikubinfo-panel header="Category">
  <div panel-content>
<form role="form" [formGroup]="categoryForm">
  <div class="form-content">
    <div class="form-group">
     <input type="file" formControlName="photo" class="form-control input-underline input-lg" (change)="uploadFile($event)" />
     <img *ngIf="category !== null" src="data:image/jpeg;base64,{{category.photo}}">
    </div>
    <div class="form-group">
      <input type="text" formControlName="name" class="form-control input-underline input-lg" placeholder="Name" />
      <p class="error" *ngIf="categoryForm.get('description').dirty && categoryForm.get('name').hasError('required')">*Please, fill in the name.</p>
    </div>
    <div class="form-group">
      <input type="text" formControlName="description" class="form-control input-underline input-lg" placeholder="Description" />
      <p class="error" *ngIf="categoryForm.get('description').dirty && categoryForm.get('description').hasError('minlength') || categoryForm.get('description').hasError('maxlength')">*Please, write only 50 to 255 characters.</p>
    </div>
  </div>
  <button pButton type="submit" (click)="submit()" [disabled]="categoryForm.invalid" class="ui-button-success" label="Submit" icon="pi pi-file"></button>
    <button pButton type="button" (click)="reset()" class="ui-button-secondary reset" label="Reset" icon="pi pi-times"></button>
</form>
</div>
</ikubinfo-panel>