<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="ui-g-4 logo">
      <img src="assets/images/general/carrental.png" alt="logo">
    </div>
    <div class="social">
      <img src="assets/images/general/instagram.png" alt="instagram">
      <img src="assets/images/general/facebook.png" alt="facebook">
      <img src="assets/images/general/youtube.png" alt="youtube">
      <img src="assets/images/general/linkedin.png" alt="linkedin">
    </div>
    <div class="ui-g-5 register">
      <p id="royal">The Royal Essence of Journey</p>
      <h3>Flexible. Accesible. Affordable.</h3>
      <p>We offer you the best comfort at the best price. The way renting should be!</p>
      <div id="signin">
      <p>Do you already have an account?</p>
      <button class="btn rounded-btn" [routerLink]="['/login']">
        Log in
      </button>
      </div>
    </div>
    <div class="ui-g-4 login">
      <h3>Fill in to rent now!</h3>
      <form role="form" [formGroup]="registerForm">
        <div class="form-content">
          <div class="form-group">
            <input type="text" formControlName="firstName" class="form-control input-underline input-lg"
              placeholder="First Name" />
            <div class="required"
              *ngIf="registerForm.get('firstName').dirty && registerForm.get('firstName').hasError('required')">
              *First name is required.
            </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="lastName" class="form-control input-underline input-lg"
              placeholder="Last Name" />
            <div class="required"
              *ngIf="registerForm.get('lastName').dirty && registerForm.get('lastName').hasError('required')">
              *Last name is required.
            </div>
          </div>
          <!--Username -->
          <div class="form-group">
            <input type="text" formControlName="username" class="form-control input-underline input-lg"
              placeholder="Username" />
            <div class="required"
              *ngIf="registerForm.get('username').dirty && registerForm.get('username').hasError('required')">
              *Username is required.
            </div>
          </div>

          <!--Birthdate -->
          <div class="form-group">
            <input type="date" formControlName="birthdate" class="form-control input-underline input-lg"
              placeholder="Birthdate"  format="yyyy-MM-dd"  />
            <div class="required" *ngIf="
                registerForm.get('birthdate').dirty &&
                registerForm.get('birthdate').hasError('required')
              ">
              *Birthdate is required.
            </div>
            <div class="required" *ngIf="
                registerForm.get('birthdate').dirty &&
                registerForm.get('birthdate').hasError('tooYoung')
              ">
              *You must be over 18 years old.
            </div>
          </div>
          <!--Address -->
          <div class="form-group">
            <input type="text" formControlName="address" class="form-control input-underline input-lg"
              placeholder="Address" />
            <div class="required" *ngIf="
                registerForm.get('address').dirty &&
                registerForm.get('address').hasError('required')
              ">
              *Address is required.
            </div>
          </div>
          <!--Email -->
          <div class="form-group">
            <input type="text" formControlName="email" class="form-control input-underline input-lg"
              placeholder="Email" />
            <div class="required" *ngIf="
                registerForm.get('email').dirty &&
                registerForm.get('email').hasError('required')
              ">
              *Email is required.
            </div>
            <div class="required" *ngIf="
                registerForm.get('email').dirty &&
                registerForm.get('email').hasError('pattern')
              ">
              *Invalid email
            </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="phone" class="form-control input-underline input-lg"
              placeholder="Phone no." />
            <div class="required" *ngIf="
                registerForm.get('phone').dirty &&
                registerForm.get('phone').hasError('required')
              ">
              *Phone number is required.
            </div>
          </div>
          <!--Password -->
          <div [formGroup]="passwordForm"> 
            <div class="form-group">
            <input type="password" pPassword formControlName="password" class="form-control input-underline input-lg"
              placeholder="Password" />
            <div class="required" *ngIf="
            passwordForm.get('password').dirty && passwordForm.get('password').hasError('pattern')">
              Password must contain at least one number and one uppercase and
              lowercase letter, and at least 8 or more characters.
            </div>
         </div>
          <div class="form-group">
            <input type="password" formControlName="repeatPassword" class="form-control input-underline input-lg"
              placeholder="Repeat Password" />
          </div>
          <div class="required"
              *ngIf="passwordForm.get('repeatPassword').dirty && passwordForm.hasError('matchingError')">
              *Passwords do not match.
            </div>
        </div>
         
          </div>
          <button [disabled]="registerForm.invalid" (click)="register()" class="btn rounded-btn">
            Register
          </button>
      </form>
    </div>
  </div>
  </div>