<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="ui-g-4 logo">
      <img src="assets/images/general/carrental.png" alt="logo">
    </div>
    <div class="social">
      <img src="assets/images/general/instagram.png" alt="instagram">
      <img src="assets/images/general/facebook.png" alt="facebook">
      <img src="assets/images/general/youtube.png" alt="youtube">
      <img src="assets/images/general/linkedin.png" alt="linkedin">
    </div>
    <div class="ui-g-5 register">
      <p id="royal">The Royal Essence of Journey</p>
      <h3>Flexible. Accesible. Affordable.</h3>
      <p>We offer you the best comfort at the best price. Have the best feelings on your trip.</p>
      <button class="btn rounded-btn" [routerLink]="['/register']">Register now</button>
    </div>
    <div class="ui-g-4 login">
      <h3>Book your car today!</h3>
      <form role="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-content">
          <div class="form-group">
            <input type="text" formControlName="username" class="form-control input-underline input-lg" placeholder="Username" />
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control input-underline input-lg" placeholder="Password" />
          </div>
        </div>
        <button [disabled]="loginForm.invalid" class="btn rounded-btn">Log in</button>
      </form>
    </div>
  </div>
</div>