<button pButton type="button" label="Add" class="ui-button-raised" icon="pi pi-plus" (click)="addCar()"></button>
<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <ikubinfo-panel header="Cars">
      <div panel-content>
        <p-table [columns]="cols" [value]="cars" [paginator]="true" [rows]="10" [(contextMenuSelection)]="selectedPost"
          [contextMenu]="cm">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pContextMenuRow]="rowData">
              <td *ngFor="let col of columns">
                <img *ngIf="col.field === 'photo'" src = "data:image/jpeg;base64,{{car.photo}}" />
                <p *ngIf="col.field !== 'photo' && col.field !== 'category'">{{rowData[col.field]}}</p>
                <p *ngIf="col.field === 'category'">{{rowData[col.field].name}}</p>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-contextMenu #cm [model]="items"></p-contextMenu>
      </div>
    </ikubinfo-panel>
  </div>
</div>