.button {
    margin-top: 1%;
    float: right;
}

#carPhoto{
    width: 150px;
    background-color: rgb(182, 182, 182);
    border-radius: 5%;
    float: left;
    margin-top: 1%;
}

.green {
    background-color: rgb(163, 241, 163);
    margin-bottom: 1%;
}

.red {
    background-color: rgb(163, 241, 163);
    margin-bottom: 1%;
}

#popUpImage {
    width: 500px;
}

#availability {
    width: 32px;
}

#availableImage{
    width: 32px;
    float: right;
}

#availableDiv {
    float: right;
    margin-top: 40px;
    margin-right: 200px;
}

#progress{
    margin-top: 20%;
    margin-left: 40%;
}
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

.dialog {
    height: 600px !important;
}

.calendar {
    width: 400px;
}