<button (click)="delete()" class="btn btn-danger" style="margin: 1%; float: right;">Delete Account</button>
<div class="settings">
<form role="form" [formGroup]="settingsForm">
  <div class="settingsForm ui-g-5">
    <h5>General Information</h5>
  <div [formGroup]="settingsForm" class="form-content">
     <!--First Name -->
     <ikubinfo-input label="First Name">
     <div class="form-group">
      <input type="text" formControlName="firstName" class="form-control input-underline input-lg"
        placeholder="First Name" />
        <div class="required" *ngIf="settingsForm.get('firstName').dirty && settingsForm.get('firstName').hasError('required')">
          *Please, fill in your first name.
        </div>
    </div>
  </ikubinfo-input>
 <!--Last Name -->
 <ikubinfo-input label="Last Name">
 <div class="form-group">
  <input type="text" formControlName="lastName" class="form-control input-underline input-lg"
    placeholder="Last Name" />
    <div class="required" *ngIf="settingsForm.get('lastName').dirty && settingsForm.get('lastName').hasError('required')">
      *Please, fill in your last name.
    </div>
</div>
</ikubinfo-input>
    <!--Birthdate -->
    <ikubinfo-input label="Birthdate">
    <div class="form-group">
      <input type="date" formControlName="birthdate" class="form-control input-underline input-lg "
       placeholder="Birthdate" format="yyyy-MM-dd" />
      <div class="required" *ngIf="settingsForm.get('birthdate').dirty && settingsForm.get('birthdate').hasError('tooYoung')">
        *You must be over 18 years old.
      </div>
    </div>
  </ikubinfo-input>
    <!--Address -->
    <ikubinfo-input label="Address">
    <div class="form-group">
      <input type="text" formControlName="address" class="form-control input-underline input-lg"
        placeholder="Address" />
    </div>
    <div class="required" *ngIf="settingsForm.get('address').dirty && settingsForm.get('address').hasError('required')">
      *Please, fill in an address.
    </div>
  </ikubinfo-input>
    <!--Email -->
    <ikubinfo-input label="E-mail">
    <div class="form-group">
      <input type="text" formControlName="email" class="form-control input-underline input-lg" placeholder="Email" />

      <div class="required" *ngIf="
      settingsForm.get('email').dirty &&
      settingsForm.get('email').hasError('pattern')
        ">
        *Please, fill in a valid e-mail address.
      </div>
    </div>
    </ikubinfo-input>
       <!--Phone -->
      <ikubinfo-input label="Phone no.">
    <div class="form-group">
      <input type="text" formControlName="phone" class="form-control input-underline input-lg"
        placeholder="Phone" />
    </div>
    </ikubinfo-input>
    </div>
    <button [disabled]="settingsForm.invalid" (click)="updateData()" class="btn btn-success">
      Save
    </button>
    </div>
    <!--Password -->
  <div class="passwordForm ui-g-5">
   <h5>Change password</h5>
    <div [formGroup]="passwordForm">
      <div class="form-group">
        <input type="password" formControlName="password" class="form-control input-underline input-lg"
          placeholder=" New password" />
        <div class="required" *ngIf="
        passwordForm.get('password').dirty && passwordForm.get('password').hasError('pattern')">
          Password must contain at least one number and one uppercase and
          lowercase letter, and at least 8 or more characters.
        </div>
      </div>
      <!--Repeat Password-->
      <div class="form-group">
          <input type="password" formControlName="repeatPassword" class="form-control input-underline input-lg"
            placeholder="Repeat Password" />
        </div>
        <div class="required"
            *ngIf="passwordForm.get('repeatPassword').dirty && passwordForm.hasError('matchingError')">
            *Passwords do not match.
          </div>
    </div>
  <button [disabled]="passwordForm.invalid" (click)="updatePassword()" class="btn btn-success">
    Update
  </button>
  </div>
</form>
</div>