<div id="progress" *ngIf = "!reservations">
  <p-progressSpinner></p-progressSpinner>
  </div>
  <div *ngIf="reservations">
    <div class="ui-g" *ngIf="advancedFilters">
      <div class="ui-g-2">
          <p><b>Filter results by:</b></p>
              </div>
              <div class="ui-g-3">
                <input type="search" pInputText placeholder="Search by car name" [(ngModel)]="carName">
              </div>
              <div class="ui-g-3">
                 From
                  <p-calendar placeholder = "Pick a date" [minDate]="today" [maxDate]="endFilterDate" [style]="{'width':'350px','margin-top':'8px'}" [(ngModel)]="startFilterDate" showButtonBar="true"></p-calendar>
              </div>
              <div class="ui-g-3">
                  Until
                  <p-calendar placeholder = "Pick a date"   [minDate]="startFilterDate" [style]="{'width':'350px','margin-top':'8px'}" [(ngModel)]="endFilterDate" showButtonBar="true"></p-calendar>
              </div>
              <div id="search" class="ui-g-3">
                <button pButton icon="pi pi-search" type="button" label="Search" (click)="search()" class="ui-button-rounded"></button>
                <button id="reset" pButton type="button" label="Reset" icon="pi pi-times" class="ui-button-rounded ui-button-secondary" (click)="reset()"></button>
              </div>
      </div>
<p-table #dt [columns]="cols" [value]="reservations" paginatorPosition="top" [loading]="!reservations" [first]="first" [lazy]="true" [loading]="loading" [totalRecords]="totalRecords" selectionMode="single" [(selection)]="selectedReservation" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5"
(onPage)="paginate($event)">
  <ng-template pTemplate="caption">
      List of reservations
      <p id="advanced" (click)="selectIfAdvanced()">Advanced filters...</p>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <img id="categoryPhoto" *ngIf="col.field === 'photo'" src="data:image/jpeg;base64,{{rowData['car'].photo}}" />
            <p *ngIf="col.field === 'car.type'"> {{rowData['car'].type}} {{rowData['car'].name}}</p>
            <p *ngIf="col.field === 'startDate' || col.field === 'endDate'">{{rowData[col.field] | date: 'medium'}}</p>
            <p *ngIf="col.field === 'fee'">{{rowData[col.field]}}</p>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
  </ng-template>    
</p-table>

<p-dialog header="Reservation Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '500px'}">
  <div class="ui-g ui-fluid reservation" *ngIf="reservation">
    <img src = "assets/images/general/calendar.png"/>
    <div class="ui-g-12">
              <b>Pick-up</b>
              <div class="time">
                <p>Time</p>
              <p-calendar placeholder="What time?" [(ngModel)]="startTime"  (click)="calculateFee()" [timeOnly]="true"></p-calendar>
              </div>
              <div class="date">
                <p>Date</p>
              <p-calendar class="date" [minDate]="minDate" [inline]="true" placeholder="What date?" [(ngModel)]="startDate" (click)="calculateFee()" [disabledDates]="reservedDates" [readonlyInput]="true"></p-calendar>
      </div>
            </div>
      <div class="ui-g-12">
        <b>Drop-off</b>
        <div class="time">
          <p>Time</p>
        <p-calendar placeholder="What time?" [(ngModel)]="endTime"  (click)="calculateFee()" [timeOnly]="true"></p-calendar>
        </div>
        <div class="date">
          <p>Date</p>
        <p-calendar class="date" [inline]="true" placeholder="What date?" [minDate]="minDate" [(ngModel)]="endDate" (click)="calculateFee()" [disabledDates]="reservedDates"  [readonlyInput]="true"></p-calendar>
</div>
      </div>
<div class="ui-g-12">
  <label>Total Fee</label>
  <input id="fee" type="text" disabled [(ngModel)]='fee'  pKeyFilter="money" pInputText placeholder="Price">  
</div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>
</div>